*{
  text-align: center;
  background-color: rgb(173, 241, 241);
}

.body{
  padding: 303px;
}

.btn{
 font-size: large;
 padding: 5px 9px;
 margin: 13px 23px;
  background-color: rgb(139, 139, 0);
}


.input{
  color: black;
  
  font-size: large;
}

.ques{
  font-size: larger;
}